* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply some basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 400px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.header {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 0;
    border-radius: 10px 10px 0 0;
}

.title {
    font-size: 28px;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.label {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.btn {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
    transition: background-color 0.3s ease;
}

.result {
    font-size: 20px;
    margin-top: 20px;
    color: #333;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.radio-label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

.radio-label input {
    margin-right: 5px;
}

/* Additional styles for the leaderboard */
.leaderboard {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: left;
}

.leaderboard h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
